<div id="profile-icon">
    <button></button>
</div>
<ul id="dropdown">
    <li class="sub-item">
        <span class="material-icons">account_circle</span>
        <p>My Profile</p>
    </li>
    <li class="sub-item">
        <span class="material-icons">feedback</span>
        <p>Feedback</p>
    </li>
    <li class="sub-item" onclick="logout()">
        <span class="material-icons">logout</span>
        <p>Logout</p>
    </li>
</ul>

<style>
    .profile-menu {
        position: absolute;
        right: 20px;
        transition: .25s ease-in;
    }

    #profile-icon {
        border: 2px solid rgb(122, 131, 221);
        border-radius: 50px;
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #profile-icon:active {
        transition: 0.3s ease-out;
        transform: scale(1.2);
    }

    #profile-icon button {
        background-color: rgb(122, 131, 221);
        font-family: var(--poppins-font);
        color: white;
        font-weight: bold;
        font-size: 17px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
    }

    #dropdown {
        right: 5px;
        top: 60px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: 170px;
        border-radius: 7px;
        padding: 10px 0;
        padding-left: 15px;
        box-shadow: 0px 0px 50px rgba(20, 18, 18, 0.25);
        opacity: 0;
        transition: .3s ease-in;
    }

    .sub-item {
        width: 120px;
        height: 45px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        padding: 0.5rem 0px;
    }

    .sub-item p {
        font-size: 16px;
        font-weight: 600;
        font-family: var(--raleway-font);
        color: rgb(96, 96, 96);
        cursor: pointer;
        transition: 0.3s ease;
    }

    .sub-item .material-icons {
        font-size: 27px;
        color: rgb(96, 96, 96);
    }

    .sub-item:hover .material-icons {
        color: var(--primary-color);
        transform: scale(1.05) translateY(-2px);
        transition: all 0.3s ease-out;
    }

    .sub-item:hover p {
        color: var(--primary-color);
    }
</style>

<script>
    cookies = document.cookie.split(';')
    $('#profile-icon button').html(cookies[1].substring(cookies[1].indexOf('=') + 1))

    // profile-logic
    let flag = false;
    $("#profile-icon").click((event) => {
        if (flag) {
            $("#dropdown").css("opacity", "0");
            flag = false;
        } else {
            $("#dropdown").css("opacity", "1");
            flag = true;
        }
    });

    $("#profile-icon").focusout((event) => {
        $("#dropdown").css("opacity", "0");
        flag = false;
    });

    function logout() {
        Swal.fire({
            icon: 'question',
            title: 'Are you sure?',
            confirmButtonText: 'Yes',
            confirmButtonColor: '#4153f1',
            showDenyButton: true,
            denyButtonText: 'No'
        }).then((res) => {
            if (res.isConfirmed) {
                let cookies = document.cookie.split(';')
                cookies.forEach(element => {
                    document.cookie = element + ";expires = Mon, 31 Dec 2000 23:59:59 GMT"
                })
                window.location.replace("/get-started")
            }
        })

    }

</script>