<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCORE-GO - Live Scorecard</title>
    <link rel="icon" href="../img/brand.png" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/preloader_style.css">
    <link rel="stylesheet" href="../css/scorecard_style.css">
</head>

<body>
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <nav>
        <div class="line1">
            <span id="live">LIVE</span>
            <div class="header">
                <div id="t1-block">
                    <div><img src="" alt=""></div>
                    <span class="team-name"></span>
                </div>
                <img id="brand" src="../img/brand.png" alt="">
                <div id="t2-block">
                    <div><img src="" alt=""></div>
                    <span class="team-name"></span>
                </div>
            </div>
            <div class="profile-menu"></div>
        </div>
        <div class="line2">
            <div>
                <pre>Date & Time - </pre>
                <span id="date"></span>
            </div>
            <div>
                <pre id="match-title"></pre>
                <span id="inning"></span>
            </div>
            <div>
                <pre>Toss - </pre>
                <span id="toss"></span>
            </div>
            <div>
                <pre>Venue - </pre>
                <span id="venue"></span>
            </div>
        </div>
    </nav>

    <section class="score-section">
        <div class="side-pane">
            <div id="batsman1" class="divider">
                <span class="name"></span>
                <span class="m-inc runs"></span>
                <span>(</span><span class="balls"></span><span>)</span>
                <span>*</span>
            </div>
            <div id="batsman2" class="divider">
                <span class="name"></span>
                <span class="m-inc runs"></span>
                <span>(</span><span class="balls"></span><span>)</span>
                <span>*</span>
            </div>
        </div>
        <div class="main-score-pane">
            <div></div>
            <div>
                <span>0</span>
                <span>/</span>
                <span>0</span>
            </div>
            <div>0.0</div>
        </div>
        <div class="side-pane">
            <div class="divider">
                <span>RUN RATE</span>
                <span id="run-rate" class="s-inc m-inc">0.0</span>
            </div>
            <div id="bowler" class="divider">
                <span class="name"></span>
                <span class="m-inc runs"></span>
                <span>-</span>
                <span class="wickets"></span>
                <span>(</span><span class="overs"></span><span>)</span>
            </div>
        </div>
    </section>

    <section class="main-area">
        <section class="left-side">
            <section class="next-ball-section">
                <div class="heading">
                    <span>Next Ball</span>
                    <button>UNDO</button>
                </div>
                Runs
                <div class="runs-area">
                </div>
                Wicket
                <div class="wicket-area">
                </div>
                Extras
                <div class="extras-area">
                </div>
                <div class="extras-dropdown runs-area">
                </div>
            </section>
            <section class="match-info">
                <div class="heading">
                    <span>Match Info</span>
                </div>
                Umpires
            </section>
        </section>

        <section class="scorecard-section">
            <div class="inningButtons">
                <button onclick="switchTab(0)" class="active"></button>
                <button onclick="switchTab(1)"></button>
            </div>
            <span id="hline"></span>
            <div class="tab-container">
                <div class="inningContent" id="tab1">
                    <div class="shadow">
                        <table class="score-table c1">
                            <tr>
                                <th width="55.24%">Batting</th>
                                <th width="60px">R</th>
                                <th width="60px">B</th>
                                <th width="60px">4s</th>
                                <th width="60px">6s</th>
                                <th width="90px">S/R</th>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal<br>
                                    <span class="batsman-status">(c) KL Rahul (b) Mohammed Siraj</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr>
                                <td>Shubham Parkale<br>
                                    <span class="batsman-status">(c) Suryakumar Yadav (b) Kuldeep Yadav</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr>
                                <td>Sharaneshwar Punjal<br>
                                    <span class="batsman-status">not out</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr>
                                <td>Tushar Kompa<br>
                                    <span class="batsman-status">not out</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr class="stats">
                                <td>Extras</td>
                                <td>10</td>
                                <td colspan="4">(6 wd, 2 nb, 2 lb)</td>
                            </tr>
                            <tr class="stats">
                                <td>Total Runs</td>
                                <td>200</td>
                                <td colspan="4">(2 wkts, 4.5 ov)</td>
                            </tr>
                            <tr class="yet-to-bat">
                                <td colspan="6">Yet to Bat<br>
                                    <span class="batsman-status">Washington Sundar • Mohammed Shami • Mohammed Siraj
                                        • Umran Malik • Yuzvendra Chahal • Jasprit Bumrah</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="shadow">
                        <table class="score-table c2">
                            <tr>
                                <th width="57.9%">Bowling</th>
                                <th width="60px">O</th>
                                <th width="60px">M</th>
                                <th width="60px">R</th>
                                <th width="60px">W</th>
                                <th width="70px">Eco</th>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="inningContent" id="tab2">
                    <div class="shadow">
                        <table class="score-table c2">
                            <tr>
                                <th width="55.24%">Batting</th>
                                <th width="60px">R</th>
                                <th width="60px">B</th>
                                <th width="60px">4s</th>
                                <th width="60px">6s</th>
                                <th width="90px">S/R</th>
                            </tr>
                            <tr>
                                <td>Sharaneshwar Punjal<br>
                                    <span class="batsman-status">not out</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr>
                                <td>Tushar Kompa<br>
                                    <span class="batsman-status">not out</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr>
                                <td>Tushar Kompa<br>
                                    <span class="batsman-status">not out</span>
                                </td>
                                <td>150</td>
                                <td>59</td>
                                <td>10</td>
                                <td>8</td>
                                <td>200.23</td>
                            </tr>
                            <tr class="stats">
                                <td>Extras</td>
                                <td>10</td>
                                <td colspan="4">(6 wd, 2 nb, 2 lb)</td>
                            </tr>
                            <tr class="stats">
                                <td>Total Runs</td>
                                <td>200</td>
                                <td colspan="4">(2 wkts, 4.5 ov)</td>
                            </tr>
                            <tr class="yet-to-bat">
                                <td colspan="6">Yet to Bat<br>
                                    <span class="batsman-status">Washington Sundar • Mohammed Shami • Mohammed Siraj
                                        • Umran Malik • Yuzvendra Chahal • Jasprit Bumrah</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="shadow">
                        <table class="score-table c1">
                            <tr>
                                <th width="57.9%">Bowling</th>
                                <th width="60px">O</th>
                                <th width="60px">M</th>
                                <th width="60px">R</th>
                                <th width="60px">W</th>
                                <th width="70px">Eco</th>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                            <tr>
                                <td>Vaibhav Mashal</td>
                                <td>5.0</td>
                                <td>1</td>
                                <td>35</td>
                                <td>1</td>
                                <td>7.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="overs-timeline">
            <div class="timeline-container">
                <div id="scroller">
                    <div class="balls">•</div>
                    <div class="balls">4</div>
                    <div class="balls">•</div>
                    <div class="balls">•</div>
                    <div class="balls">1</div>
                    <div class="balls">1</div>
                    <div id="oc">1</div>
                    <div class="balls">•</div>
                    <div class="balls">1</div>
                    <div class="balls">1</div>
                    <div class="balls">2</div>
                    <div class="balls">4</div>
                    <div class="balls">•</div>
                    <div id="oc">2</div>
                    <div class="balls">•</div>
                    <div class="balls">•</div>
                    <div class="balls">1</div>
                    <div class="balls">6</div>
                    <div class="balls">4</div>
                    <div class="balls">•</div>
                    <div id="oc">3</div>
                    <div class="balls">•</div>
                    <div class="balls">1</div>
                    <div class="balls">6</div>
                    <div class="balls">4</div>
                    <div class="balls">•</div>
                    <div class="balls">•</div>
                    <div id="oc">4</div>
                    <div class="balls">•</div>
                    <div class="balls">1</div>
                    <div class="balls">6</div>
                    <div class="balls">4</div>
                    <div class="balls extras">WD1</div>
                    <div class="balls extras">NB0</div>
                    <div class="balls">•</div>
                </div>
            </div>
        </section>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../js/scorecard_script.js" async></script>
</body>

</html>