<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCORE-GO - Team Summary</title>
    <link rel="icon" href="../img/brand.png" type="image/icon type">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../css/preloader_style.css">
    <link rel="stylesheet" href="../css/start_match_style.css">
</head>

<body>
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <nav>
        <a class="logo" href="/dashboard" target="_blank">
            <img src="../img/brand.png" alt="SCORE-GO">SCORE-GO<span>.</span>
        </a>
        <h2>MATCH 1 - TEAM SUMMARY</h2>
        <button class="start-new-match">START MATCH</button>
        <div class="profile-menu"></div>
    </nav>

    <section class="main-area">
        <div class="container">
            <div class="teams" id="team1">
                <div class="heading">
                    <div><img src="../img/bat-icon.ico"></div>
                    <span></span>
                </div>
                <ul class="players">
                </ul>
                <span class="info">SELECT STRIKER & NON-STRIKER</span>
            </div>
            <div class="teams" id="team2">
                <div class="heading">
                    <div><img src="../img/ball-icon.ico"></div>
                    <span></span>
                </div>
                <ul class="players">
                </ul>
                <span class="info">SELECT BOWLER</span>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../js/start_match_script.js"></script>
</body>

</html>