@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600&family=Saira+Extra+Condensed:wght@300;400;500;600;700&family=Saira+Semi+Condensed:wght@300;400;500;600&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: rgb(65, 84, 241);
    --primary-dark-color: rgb(1, 41, 112);
    --poppins-font: 'Poppins', sans-serif;
    --raleway-font: 'Raleway', sans-serif;
    --quicksand-font: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: var(--raleway-font);
    width: 100%;
    color: black;
}

body::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

li {
    list-style-type: none;
}

pre {
    font-family: var(--quicksand-font);
    font-weight: bold;
}

nav {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115px;
}

.line1 {
    /* background-color: green; */
    color: black;
    align-items: center;
    display: flex;
    width: 97vw;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    justify-content: space-between;
}

#live {
    font-size: 27px;
    font-family: var(--poppins-font);
    line-height: 1;
    color: red;
    font-weight: bold;
}

.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.team-name {
    flex-grow: 1;
    text-align: center;
    font-family: var(--raleway-font);
    font-size: 18px;
    font-weight: bold;
}

#t1-block {
    height: 75%;
    width: 400px;
    border: 3px solid var(--primary-color);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

#brand {
    height: 35px;
    width: 35px;
    position: absolute;
}

#t2-block {
    height: 75%;
    width: 400px;
    border: 3px solid var(--primary-color);
    border-radius: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 50px;
    margin-left: -50px;
}

#t1-block div,
#t2-block div {
    height: 35px;
    width: 35px;
    margin: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#t1-block div img,
#t2-block div img {
    height: 20px;
    width: 20px;
}

.profile-menu {
    display: block;
    right: 0px;
}

.line2 {
    width: 97vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 15px;
    font-family: var(--quicksand-font);
    font-weight: 500;
}

.line2 div {
    display: flex;
}

.score-section {
    background-color: white;
    width: 96%;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--quicksand-font);
    font-size: 16px;
}

.main-score-pane {
    height: 54px;
    /* background-color: green; */
    width: 320px;
    border-radius: 50px;
    font-family: var(--quicksand-font);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-score-pane div:nth-child(2) {
    width: 130px;
    height: 60px;
    border-radius: 50px;
    color: white;
    font-family: var(--quicksand-font);
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-score-pane div:nth-child(1) {
    width: 95px;
    font-size: 27px;
    text-align: center;
}

.main-score-pane div:nth-child(3) {
    width: 95px;
    font-size: 27px;
    flex-grow: 1;
    text-align: center;
}

.side-pane {
    display: flex;
    align-items: center;
    height: 60px;
    width: 480px;
    /* background-color: burlywood; */
}

.divider {
    flex-grow: 1;
    text-align: center;
}

.m-inc {
    margin-left: 7px;
}

.s-inc {
    font-size: 21px;
    font-weight: bold;
}

.main-area {
    flex-grow: 1;
    margin: auto;
    margin-top: 35px;
    width: 96%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.next-ball-section {
    width: 520px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.heading span {
    font-size: 27px;
    font-weight: bolder;
}

.heading button {
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 15px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--quicksand-font);
    transition: 0.5s ease;
    margin-right: 10px;
}

.heading button:active {
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

#runs-area,
#wicket-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0px;
}

.run-btn {
    /* font-family: 'Cascadia Code', monospace; */
    font-family: var(--quicksand-font);
    font-size: 17px;
    font-weight: 600;
    padding: 4px 10px;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
}

.run-btn:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.05);
}

.run-btn:active,
#custom-tick:active {
    transition: 0.2s ease-in;
    transform: scale(0.9);
}

#custom-runs {
    width: 66px;
    font-size: 18px;
    font-family: var(--quicksand-font);
    font-weight: 600;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 4px 10px;
    border-radius: 50px;
    outline: none;
    margin-bottom: 10px;
}

::placeholder {
    font-size: 17px;
}

#custom-tick {
    font-size: 21px;
    font-weight: bolder;
    color: var(--primary-color);
    margin-left: -30px;
    margin-top: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

#custom-tick:hover {
    color: rgb(0, 160, 0);
}

.wicket-btns {
    flex: 1 0 25%;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: var(--raleway-font);
}

.scorecard-section {
    width: 780px;
    height: fit-content;
    background-color: white;
    flex-shrink: 0;
    padding: 25px 0px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

#overs-timeline {
    width: 60px;
    padding: 25px 10px;
    background-color: white;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    box-sizing: border-box;
}

.timeline-container {
    height: 100%;
    font-size: 18px;
    transition: 0.5 ease-in;
    font-family: var(--quicksand-font);
    font-weight: 600;
    color: var(--primary-color);
    overflow-y: scroll;
}

#scroller {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}

.timeline-container::-webkit-scrollbar {
    display: none;
}

.balls {
    margin: 4px 0px;
}

.extras {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
    margin: 2px 0px;
}

#oc {
    width: 35px;
    color: black;
    margin: 4px 0px;
    padding: 4px 0px;
    text-align: center;
    font-size: 18px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.inningButtons {
    margin: 0px 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.inningButtons button {
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    font-family: var(--raleway-font);
    font-size: 18px;
    font-weight: bold;
}

.inningButtons button.active {
    color: var(--primary-color);
}

.tab-container {
    width: fit-content;
    display: flex;
    overflow: hidden;
    transition: 0.5s ease;
}

.inningContent {
    margin: 0px 25px;
    width: 730px;
    height: fit-content;
    color: black;
    font-family: var(--quicksand-font);
    font-weight: 600;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding-top: 25px;
    color: black;
}

.shadow {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.shadow:last-child {
    margin-top: 30px;
}

#tab1 {
    display: flex;
}

@keyframes slide-left {
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0px);
    }
}

#team1-btn {
    color: var(--primary-color);
}

#hline {
    position: relative;
    left: 25px;
    width: 365px;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.5s ease;
    border-radius: 30px;
}

.score-table tr:first-child:hover {
    transform: none;
}

.score-table td {
    padding: 0px 10px;
}

.score-table th {
    padding: 8px 10px;
}

.score-table {
    width: 730px;
    border-radius: 5px;
}

.score-table tr th {
    background-color: var(--primary-color);
    height: 25px;
    color: white;
    text-align: left;
    font-weight: 500;
    text-align: right;
    font-size: 16px;
}

.score-table tr:nth-child(even) {
    background-color: white;
}

.score-table tr th:nth-child(1) {
    text-align: left;
}

.score-table tr td {
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: right;
    vertical-align: top;
    font-weight: 600;
}

.shadow:first-child .score-table tr:nth-last-child(2) td,
.shadow:first-child .score-table tr:last-child td {
    height: 30px;
    vertical-align: middle;
}

.score-table tr td:nth-child(1) {
    text-align: left;
}

.batsman-status {
    color: rgb(73, 73, 73);
    font-size: 14px;
    font-weight: 500;
    padding-top: 3px;
}

.stats td:nth-child(3) {
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
}

.yet-to-bat .batsman-status {
    font-size: 15px;
}

.score-table tr:last-child td {
    border-bottom: 3px solid green;
}

#bowling tr td {
    vertical-align: middle;
    height: 25px;
}